:root {
  --md-primary-bg-color: #282828;
  --md-primary-fg-color: #1d2021;
  --md-typeset-color: var(--md-default-fg-color);
  --md-primary-bg-color--light: #282828;
  --md-primary-fg-color--light: #1d2021;
}
